{{!-- <div class="modal__back-drop hidden"> --}}
    <div class="modal__window">
        <div class="modal__icon">
            <img src="" alt="">
        </div>
        <div class="modal__main-info">
            {{!-- <img src="{{}}" alt=""> --}}
            <ul class="main-info-list">
                <li class="main-info-item">
                    <h3>INFO</h3>
                    <p>{{info}}</p>
                </li>
                <li class="main-info-item">
                    <h3>WHEN</h3>
                    <p>
                        <span>{{dates.start.localDate}}</span>
                        <span>{{dates.start.localTime}}</span>
                    </p>
                </li>
                <li class="main-info-item">
                    <h3>WHERE</h3>
                    <p>
                        <span>{{dates.timezone}}</span>
                        <span></span>
                    </p>
                </li>
                <li class="main-info-item">
                    <h3>WHO</h3>
                    <p>{{name}}</p>
                    <button type="submit">BUY TICKETS</button>
                </li>
                <li class="main-info-item">
                    <h3>PRICES</h3>
                    <p></p>
                    <button type="submit">BUY TICKETS</button>
                </li>
            </ul>
        </div>
        <div class="modal__more-btn">
            <button type="submit">MORE FROM THIS AUTHOR</button>
        </div>
        <div class="modal__close-btn">X</div>
    </div>
{{!-- </div> --}}