{{!-- {{#each this}}
  <li>
    <div class='photo-card'>
      <img class='img' src="{{webformatURL}}" data-largeimage="{{largeImageURL}}" alt='' />

      <div class='stats'>
        <p class='stats-item'>
          <i class='material-icons'>
            thumb_up
          </i>
          {{page}}
        </p>
        <p class='stats-item'>
          <i class='material-icons'>
            visibility
          </i>
          {{views}}
        </p>
        <p class='stats-item'>
          <i class='material-icons'>
            comment
          </i>
          {{comments}}
        </p>
        <p class='stats-item'>
          <i class='material-icons'>
            cloud_download
          </i>
          {{downloads}}
        </p>
      </div>
    </div>
  </li>
{{/each}} --}}
{{#each this}}
  <li class='flex-element'>
    <img src={{_embedded.events.images}} width='180' height='227' alt='' />
    <p class='evro'>
      {{_embedded.events.name}}
    </p>
    <p class='date'>
      {{_embedded.events.sales}}
    </p>
    <a class='nav-link' href={{_embedded.events._links.attractions}}>
      <svg class='pin-mail' width='7' height='10'>
        <use href=''></use>
      </svg>
      {{_embedded.events.locale}}
    </a>
  </li>
{{/each}}